.container {
	max-width: 500px;
}

#chatbox {
	max-width: 500px;
	height: 500px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

#send-button {
	width: 100%;
}